<template>
        <div class="pa-0">
                <div class="block" style="border-bottom: 1px solid #bcbcbc">
                        <v-flex xs8>
                                <Menu></Menu>
                        </v-flex>
                </div>
                <div class="block" >
                        <v-flex xs8>
                                <Content></Content>
                        </v-flex>
                </div>

        </div>
</template>

<script>
    import Menu from '../components/Menu'
    import Content from "../components/Content";

    export default {
        name: "Main",
        components: {Content, Menu}
    }
</script>

<style scoped>
        .block{
                justify-content: center;
                align-items: center;
                display: flex;
        }
</style>