<template class="container">
        <div class="pa-0">
                <v-flex xs12 class="headers">
                        <v-menu open-on-hover offset-y nudge-top="10px">
                                <template v-slot:activator="{ on }">
                                        <h1><span id="format" v-on="on">&#8595{{extensionTo}}</span> Converter</h1>
                                </template>
                                <v-list>
                                        <v-list-tile
                                                v-for="(item, index) in items"
                                                :key="index"
                                                @click="extensionTo=item.title"
                                                v-bind:style="{ backgroundColor: formatColor[item.title], opacity: 0.9}"
                                        >
                                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                        </v-list-tile>
                                </v-list>
                        </v-menu>
                        <h2>Convert files of different extensions to {{extensionTo}}</h2>
                </v-flex>

                <v-flex xs12>
                        <form name="form" id="form">
                                <input id="inputFile" type="file" multiple ref="myFiles"
                                       @change="convert($refs.myFiles.files)"
                                       :accept="acceptFiles[extensionTo]"/>
                        </form>
                        <label for="inputFile">

                                <div id="drop-zone" @drop="dropHandler" @dragover="dragOverHandler"
                                     @dragleave="dragLeaveHandler">
                                        <div id="contur">
                                                <svg id="svgFile">
                                                        <g>
                                                                <path fill="none"
                                                                      d="M3.996 2C2.878 2 2 2.88 2 3.996v54.008A1.98 1.98 0 0 0 4.002 60h41.996A1.971 1.971 0 0 0 48 58.008V15.654c-.047-.935-.164-1.748-.469-2.293C47.087 12.567 46.318 12 44 12h-6V5.996c0-1.917-.273-2.865-.709-3.303-.122-.122-.4-.195-.611-.289a6.656 6.656 0 0 0-1.135-.279c-.45-.06-.867-.13-1.537-.125zm35.848 2.258c.068.553.156 1.077.156 1.738V10h4c.793 0 1.34.22 1.96.375zM10 23h30v2H10zm0 7h30v2H10zm0 7h30v2H10zm0 7h30v2H10zm0 7h30v2H10z">
                                                                </path>
                                                                <path
                                                                        d="M3.996 0A4.01 4.01 0 0 0 0 3.996v54.008C0 60.203 1.806 62 4.002 62h41.996C48.202 62 50 60.198 50 58.008V14.992c0-2.038-.974-4.38-2.414-5.82l-6.758-6.758C39.385.971 37.04 0 35.004 0zm0 2h31.008c1.273 0 3.506.924 4.41 1.828l6.758 6.758c.902.902 1.828 3.133 1.828 4.406v43.016A1.971 1.971 0 0 1 45.998 60H4.002A1.98 1.98 0 0 1 2 58.004V3.996C2 2.881 2.878 2 3.996 2z">
                                                                </path>
                                                                <path
                                                                        d="M34.008 2c.67-.005 1.086.065 1.537.125.352.046.731.15 1.135.28.211.093.489.166.611.288.436.438.709 1.386.709 3.303V12h6c2.318 0 3.087.567 3.531 1.361.305.545.422 1.358.469 2.293v-.662c0-1.273-.926-3.504-1.828-4.406l-.211-.211C45.34 10.22 44.793 10 44 10h-4V5.996c0-.66-.088-1.185-.156-1.738l-.43-.43C38.51 2.924 36.277 2 35.004 2z">
                                                                </path>
                                                                <path
                                                                        d="M10 23v2h30v-2H11zm0 7v2h30v-2H11zm0 7v2h30v-2H11zm0 7v2h30v-2H11zm0 7v2h30v-2H11z">
                                                                </path>
                                                        </g>
                                                </svg>
                                                <p class="uploadStatus" id="text-node" v-show="!uploading">Drop files to
                                                        add data <br/>or
                                                        <span
                                                                style="text-decoration: underline">choose the file
                                                        </span>
                                                </p>
                                                <a id='downloadFiles' v-show="converted">Download files!</a>
                                                <p class="uploadStatus" id="convertingFiles" v-show="converting">
                                                        Converting</p>
                                        </div>
                                </div>
                        </label>

                </v-flex>
                <v-flex xs12 style="display: flex; flex-direction: row">
                        <v-flex xs4 v-for="block in iconsPath">
                                <div class="blocks">
                                        <img v-bind:src="block.src"/>
                                        <h3>{{block.header}}</h3>
                                        <p>{{block.text}}</p>
                                </div>
                        </v-flex>
                </v-flex>
        </div>
</template>

<script>

    import axios from 'axios'

    export default {
        name: "Content",
        data: function () {
            return {
                formatColor:{
                    'PDF': '#e82512',
                    'PowerPoint': '#ff4821',
                    'JPG': '#ffd621',
                },
                extensionTo: 'PDF',
                uploadPercentage: 0,
                items: [
                    {title: 'PDF'},
                    {title: 'PowerPoint'},
                    {title: 'JPG'}
                ],
                acceptFiles: {
                    'PDF': '.doc,.docx,.xls,.xlsx,.ppt,.pptx,.jpeg',
                    'PowerPoint': '.pdf',
                    'JPG': '.pdf, .doc,.docx,.xls,.xlsx,.ppt,.pptx,.jpeg',
                },
                uploading: false,
                converted: false,
                converting: false,
                iconsPath:
                    [
                        {
                            src: "/static/images/lampa.svg",
                            header: "How to convert?",
                            text: "Drag and drop your file into the online PDF converter. Word, excel, ppt and image files will convert to PDF. PDF files will convert to the file type you choose."
                        },
                        {
                            src: "/static/images/knife.svg",
                            header: "Convert to PDF and other file types",
                            text: "You can create or convert PDFs all in a single place. Our PDF creator supports: Excel, Word, PPT, JPG and PNG."
                        },
                        {
                            src: "/static/images/cloud.svg",
                            header: "Access from anywhere",
                            text: "You can access the free PDF file converter anywhere, with an internet connection. Smallpdf PDF converter operates fully in the cloud."
                        },
                    ]
            };
        },
        methods: {
            getExtension: function (title) {
                switch (title) {
                    case 'PDF':
                        return 'pdf';
                    case 'PowerPoint':
                        return 'pptx';
                    case  'JPG':
                        return 'jpg'
                }
            },
            convert: async function (files) {
                if (this.uploading === true) this.uploading = false;
                this.converted = false;
                let formData = new FormData();
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    formData.append('file[' + i + ']', file);
                    formData.append('filename[' + i + ']', file.name);
                    let split = file.name.toString().split('.');
                    let extension = split[split.length - 1];
                    formData.append('from[' + i + ']', extension);
                }
                formData.append('to', this.getExtension(this.extensionTo));
                if (files.length !== 0) {
                    this.uploading = true;
                    this.converting = true;
                    axios.post('http://3.16.31.118:3210/check', formData, {responseType: 'blob'}).then(res => {
                            const url = window.URL.createObjectURL(new Blob([res.data]));
                            let link = document.getElementById('downloadFiles');
                            link.href = url;
                            if (files.length === 1) {
                                let split = files[0].name.toString().split('.');
                                let extension = split[split.length - 1];
                                let newFileName = files[0].name.toString().substring(0, files[0].name.toString().length - extension.length - 1) + '.' + this.getExtension(this.extensionTo);
                                console.log(newFileName)
                                link.setAttribute('download', newFileName);
                            } else {
                                link.setAttribute('download', 'out.zip');
                            }

                            this.converting = false;
                            this.converted = true;
                        }
                    )
                }

            },
            dropHandler: function (ev) {
                ev.preventDefault();
                document.getElementById("text-node").style.fontSize = "42px";
                let files = ev.dataTransfer.files;
                this.convert(files);

            },
            dragOverHandler: function (ev) {
                ev.preventDefault();
                let offsetTop = document.getElementById('drop-zone').offsetTop;
                let offsetLeft = document.getElementById('drop-zone').offsetLeft;
                let width = document.getElementById('drop-zone').offsetWidth;
                let height = document.getElementById('drop-zone').offsetHeight;
                let g = (Math.round((ev.clientX - offsetLeft) * 255 / width)).toString(16);
                let b = (Math.round((ev.clientY - offsetTop) * 255 / height)).toString(16);
                let gi = (Math.round((ev.clientX - offsetLeft - 10) * 255 / width)).toString(16);
                let bi = (Math.round((ev.clientY - offsetTop - 10) * 255 / height)).toString(16);
                g = g.length === 1 ? ('0' + g) : g;
                b = b.length === 1 ? ('0' + b) : b;
                let color = '#ff' + g + b;
                let colorInner = '#e8' + gi + bi;
                document.getElementById('contur').style.backgroundColor = colorInner;
                document.getElementById('drop-zone').style.backgroundColor = color;
                document.getElementById("text-node").style.fontSize = "48px";
            },
            dragLeaveHandler: function (ev) {
                ev.preventDefault();
                document.getElementById("text-node").style.fontSize = "42px";
            }
        }
        ,

    }
</script>

<style scoped>
        .container h1, h2, p, span, a {
                font-family: 'Source Sans Pro', sans-serif;
        }

        .headers {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-top: 30px;
        }

        .headers h1 {
                font-weight: 600;
                font-size: 30px;
        }

        .headers h2 {
                margin-top: -10px;
                font-size: 24px;
                font-weight: 200;
        }

        .uploadStatus {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                transition: font-size 175ms;
                font-size: 35px;
        }

        #drop-zone {
                margin-top: 50px;
                width: 100%;
                height: 300px;
                background-color: #FF4821;
                display: table;
                color: #efefef;
                transition: background-color 50ms;
                cursor: pointer;
        }

        #contur {
                transition: background-color 50ms;
                height: inherit;
                background-color: #e8421e;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 10px;
                border: 1px dashed #656565;
        }

        .blocks {
                margin-top: 60px;
                padding-left: 10%;
                padding-right: 10%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
        }

        .blocks h3 {
                font-weight: 500;
        }

        #inputFile {
                position: fixed;
                top: 0;
                left: 0;
                height: 1px;
                width: 1px;
                padding: 0;
                border: 0;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
        }

        #svgFile {
                width: 100%;
                max-height: 65px;
                margin-left: 95%;
        }

        #format {
                font-size: 30px;
                font-weight: 600;
                cursor: pointer;
        }

        #downloadFiles {
                color: #efefef;
                font-size: 30px;
                font-weight: 600;
        }

        #convertingFiles:after {
                content: '.';
                animation: loading 1s ease alternate infinite;
        }

        @keyframes loading {
                60% {
                        text-shadow: 0.35em 0 0 currentColor;
                }
                100% {
                        text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
                }
        }

</style>
