<template>
        <v-flex xs12>
                <v-toolbar class="toolbar">
                        <a id="title" href="" title="FileConverter - Test for MTS">
                                RainbowConverter
                        </a>
                        <img src="../../static/images/logo.png" width="60px" height="50px" style="margin-left: 10px"/>
                        <v-spacer></v-spacer>
                        <v-toolbar-items class="hidden-sm-and-down">
                                <v-btn flat><a href="https://denislevkovets.com">About Us</a></v-btn>
                        </v-toolbar-items>
                </v-toolbar>
        </v-flex>
</template>

<script>
    export default {
        name: "Menu"
    }
</script>

<style scoped>

        #title, #title:link, #title:hover, #title:active, #title:visited {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #000;
        }

        .toolbar {
                box-shadow: none;
                background-color: white;
        }

        .hidden-sm-and-down button {
                font-size: 13px;
                font-weight: 500;
        }

        .hidden-sm-and-down button a{
                color: #202020;
                text-decoration: none;
        }
</style>