<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="../static/images/logo.png"/>
        <title>MTS</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700|Roboto:100,300,400,500,700|Source+Sans+Pro:200,400,500,600,700|Material+Icons'
              rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="../static/js/main-bundle.js?{{now_ts}}" async></script>
</body>
</html>