<template>
        <v-app>
                <v-content>
                        <v-container fluid class="pa-0">
                                <Main></Main>
                        </v-container>
                </v-content>
        </v-app>
</template>

<script>
    import Main from './pages/Main'

    export default {
        name: 'App',
        components: {Main},
        data() {
            return {
                //
            }
        }
    }
</script>
